.search-container-center {
  height: calc(100vh - 90px);
  background-color: #ffffff;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
  padding-bottom: 0px;
}

.search-container-center .input-container {
  width: 60%;
  height: 50px;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}

.search-container-center .input-container input {
  border: 3px solid #ffd75f;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0px 50px;
}

.search-container-center .input-container img {
  position: absolute;
}

.search-container-center .input-container .search {
  left: 15px;
  top: 11px;
}

.search-container-center .input-container .cross {
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.search-container-center .scroll-container {
  height: calc(100vh - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-container-center .scroll-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.search-container-center .scroll-container:hover::-webkit-scrollbar-thumb {
  background: #ffd75f;
  border-radius: 100px;
}

.search-container-center .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/*.search-container-center .card p {
  max-height: 200px;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}*/

.search-container-center .card:hover {
  background: rgba(255, 215, 95, 0.05);
}

.search-container-center .card .author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search-container-center .card .functions {
  display: flex;
  align-items: center;
}

.search-container-center .card .functions svg {
  margin: 0px 10px;
}

.search-container-center .card .functions svg:nth-child(1):hover path {
  stroke: red;
}

.search-container-center .card .functions svg:nth-child(2):hover path {
  stroke: #0078ff;
}

.search-container-center .card span {
  font-size: 12px;
  color: #404040;
  width: 150px;
}

.search-container-center .card .copy-button {
  width: 65px;
  height: 25px;
  background: #fff;
  border: 0.5px solid #808080;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  position: absolute;
  right: 0px;
  bottom: 0px;
  align-self: flex-end;
}

.search-container-center .card .hide {
  display: none;
}

.search-container-center button {
  margin-top: 20px;
  align-self: center;
  width: 200px;
  height: 40px;
  min-height: 40px;
  background: rgba(255, 215, 95, 0.05);
  border-radius: 10px;
  border: none;
  color: #ffd75f;
  font-size: 18px;
}

.search-container-center .check-list {
  display: flex;
  flex-direction: column;
  width: calc(100% + 20px);
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 10px 15px;
  position: absolute;
  z-index: 10;
  top: 5px;
  left: -10px;
}

.search-container-center .check-list .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-container-center .check-list .head span {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.search-container-center .check-list .button-container {
  display: flex;
  flex-direction: column;
}

.search-container-center .check-list .button-container button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0px;
  width: 100%;
  text-transform: capitalize;
  background: #f8f8f9;
  border-radius: 3px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}

.search-container-center .check-list .button-container button:hover {
  background: rgba(255, 215, 95, 0.1);
}

.search-container-center .check-list .button-container span {
  display: block;
  text-align: center;
}

.search-container-center .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}