.center-dashboard .search-container {
  height: 160px;
  background: #fff;
  border-radius: 10px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-dashboard .search-container p {
  font-weight: 500;
  font-size: 24px;
}

.center-dashboard .search-container span {
  font-weight: 300;
  font-size: 18px;
}

.center-dashboard .search-container .input-container {
  width: 200px;
  height: 50px;
  position: relative;
  margin-left: 0px;
}

.center-dashboard .search-container input {
  width: 200px;
  height: 50px;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
  border-radius: 5px;
  border: 3px solid #ffd75f;
  padding-left: 40px;
  padding-right: 30px;
}

.center-dashboard .search-container img {
  position: absolute;
}

.center-dashboard .search-container .search {
  left: 12px;
  top: 10px;
}

.center-dashboard .search-container .cross {
  right: 12px;
  top: 15px;
  cursor: pointer;
}

/* quotes info */
.center-dashboard .quotes-info {
  height: 90px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.center-dashboard .quotes-info span {
  font-weight: 500;
  font-size: 18px;
  margin-right: 8px;
  color: #000;
}

.center-dashboard .quotes-info .line {
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  width: 1px;
}

/* popular quotes */
.center-dashboard .popular-quotes {
  height: calc(100vh - 380px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center-dashboard .popular-quotes::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.center-dashboard .popular-quotes:hover::-webkit-scrollbar-thumb {
  background: #ffd75f;
  border-radius: 100px;
}

.center-dashboard .popular-quotes .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #404040;
}

.center-dashboard .popular-quotes .head span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
}

.center-dashboard .popular-quotes .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.center-dashboard .popular-quotes .card:hover {
  background: rgba(255, 215, 95, 0.05);
}

.center-dashboard .popular-quotes .card span {
  font-size: 12px;
  color: #404040;
  font-weight: 400;
}

.center-dashboard .popular-quotes .card .button-container1 {
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.center-dashboard .popular-quotes .card .button-container1 svg:nth-child(1):hover path {
  stroke: red;
}

.center-dashboard .popular-quotes .card .button-container1 svg:nth-child(2):hover path {
  stroke: #0078ff;
}

.center-dashboard #copySaved{
  position: absolute;
  top: -10000px;
}

.center-dashboard .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}