.right-dashboard .join-community {
  background-color: #fff;
  height: 160px;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-dashboard .join-community  span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
}

.right-dashboard a {
  text-decoration: none;
  color: black;
}

.right-dashboard a:hover {
  color: #ffd75f;
}

.right-dashboard .recent-saved {
  height: calc(100vh - 270px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 0 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.right-dashboard .scroll-container {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-dashboard .scroll-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.right-dashboard .scroll-container:hover::-webkit-scrollbar-thumb {
  background: #ffd75f;
  border-radius: 100px;
}

.right-dashboard .recent-saved .head {
  font-weight: 300;
  font-size: 14px;
  color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-dashboard .recent-saved .head span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
}

.right-dashboard .recent-saved .head span:nth-child(2) {
 cursor: pointer;
}

.right-dashboard .recent-saved .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
}

.right-dashboard .recent-saved .card:hover {
  background: rgba(255, 215, 95, 0.05);
}

.right-dashboard .recent-saved .card p {
    font-weight: 500;
    font-size: 16px;
}

.right-dashboard .recent-saved .card span {
  font-size: 12px;
  font-weight: 400;
  color: #404040;
}

.right-dashboard .recent-saved .head span:nth-child(2):hover {
  color: #ffd75f;
}

.right-dashboard .nothing-saved {
  text-align: center;
  margin-top: 10px;
}

.right-dashboard #copySaved {
  position: absolute;
  top: -10000px;
}

.right-dashboard .button-container {
  margin-top: 10px;
  display: flex;
}

.right-dashboard .button-container svg {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.right-dashboard .button-container svg:nth-child(1):hover path {
  stroke: #0078ff;
}

.right-dashboard .button-container svg:nth-child(2):hover path {
  stroke: red;
}

.right-dashboard .loading-card {
  margin-bottom: 10px;
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px
}